# Dependencies
node_modules

# Local env / secrets
.env
.env.local
.dev.vars
.dev.vars.*
!.dev.vars.example

# Wrangler
.wrangler

# Build outputs
dist

# Testing
coverage

# Misc
.DS_Store
*.pem

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
